*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
mobile/libs/
mobile/src/main/res/drawable/
wear/libs/
wear/src/main/res/drawable/
